<div class="alert"
    [ngClass]="{'alert-success': alertType() === 'success', 'alert-warning': alertType() === 'warning', 'alert-danger': alertType() === 'danger'}">
    <!-- <strong>{{alertType}}!</strong>  -->
    <!-- Signal based call for input-->
    <strong>{{alertType()}}!</strong>
    {{alertMessage}}
</div>
<!-- <div class="alert alert-warning">
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
</div>
<div class="alert alert-danger">
    <strong>Error!</strong> This alert box could indicate a dangerous or potentially negative action.
</div> -->